<h2>Medical Specialties</h2>
<% @specialties.each do |specialty| %>
    <%= link_to specialty.name, specialty_path(specialty) %>
    <br>
<% end %>
<br>
<br>
<%= link_to "All Registered Physicians", doctors_path %>
<br>
